RewriteEngine On
RewriteRule ^([a-zA-Z0-9\-]+)$ index.php?s=$1
RewriteRule ^([a-zA-Z0-9\-]+)/$ index.php?s=$1
RewriteRule ^([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)$ index.php?s=$1&p=$2
RewriteRule ^([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/$ index.php?s=$1&p=$2